# Manage AWS RDS in Python

## Import the Libraries

If you don't have the [psycopg2](https://pypi.org/project/psycopg2/) installed, pip install it first.

In [ ]:
!pip install psycopg2

In [1]:
import pandas
import configparser
import psycopg2

## Connect to Database

Read the database connection info from the config.ini

In [2]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['myaws']['host']
db = config['myaws']['db']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

Establish a connection to the database

In [3]:
conn = psycopg2.connect(host = host,
                       user = user,
                        password = pwd,
                        dbname = db
                       )

Create a cursor

In [4]:
cur = conn.cursor()

## Query the Data

Design the SQL statement you want to query

In [5]:
sql_statement = """
                select 
                bathroom,bedroom
                from house_price
                where bathroom > 2
                """

Cursor executes the SQL statement

In [6]:
cur.execute(sql_statement)

Get one result

In [7]:
cur.fetchone()

(4.0, 4.0)

Use the for loop to display all the results

In [8]:
for bathroom,bedroom in cur.fetchall()[:10]:
    print(bathroom,bedroom )

4.0 5.0
3.0 2.0
3.0 3.0
3.0 4.0
5.0 4.0
3.0 3.0
3.0 3.0
6.0 5.0
6.0 5.0
3.0 3.0

Use [pandas](https://pandas.pydata.org/) to load the results.

In [9]:
df = pandas.read_sql_query(sql_statement, conn)

In [10]:
df[:10]

   bathroom  bedroom
0       4.0      4.0
1       4.0      5.0
2       3.0      2.0
3       3.0      3.0
4       3.0      4.0
5       5.0      4.0
6       3.0      3.0
7       3.0      3.0
8       6.0      5.0
9       6.0      5.0

For more about using pandas to explore data, you can check [this tutorial](https://github.com/xbwei/machine_learning_in_python/blob/master/exploring_data_in_notebook.ipynb).

## Modify the Data

Design the SQL statement to modify the table.

In [12]:
sql_statement = """
                insert into student_gp21(email,name)
                values('{}','{}')
                """.format('test_email','test_name')

In [13]:
cur.execute(sql_statement)

Commit the change to the database

In [14]:
conn.commit()

Check whether the change is successful

In [15]:
df = pandas.read_sql_query("select * from student_gp21", conn)
df[:]

,email,name,major
0,demo@jmu.edu ...,123 ...,IA
1,test_email ...,test_name ...,IA

## Close the Connection to Database

Close the connections to the database.

In [16]:
cur.close()
conn.close()